@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
/* 去除iPhone中默认的input样式 */
input[type="submit"],

input[type="reset"],

input[type="button"],

input,textarea,button{-webkit-appearance:none; resize: none; outline: none;}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #d9d9d9;  
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #d9d9d9;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #d9d9d9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #d9d9d9;
}

button,input,textarea{ font-family: "微软雅黑";}

/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); font-weight: normal; }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section {
display: block;
}
/* 图片自适应 */
img {
max-width: 100%;
height: auto;
width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic;/*为了照顾ie图片缩放失真*/
vertical-align:middle;
}
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{margin:0; padding:0; border:none;}
body{font: normal 12px/1.5 Tahoma,"Lucida Grande",Verdana,"Microsoft Yahei",STXihei,hei; color:#1a1a1a;}
em,i{font-style:normal;}
strong{font-weight: normal;}
.clearfix:after{content:""; display:block; visibility:hidden; height:0; clear:both;}
.clearfix{zoom:1;}
a{text-decoration:none; color:#333; font-family:Microsoft YaHei,Tahoma,Arial,sans-serif;}
a:active{color:none; text-decoration:none;}
ul,ol{list-style:none;}
h1, h2, h3, h4, h5, h6,input{ font-size:100%; font-weight: normal; font-family: Microsoft YaHei;}
img{border: none; vertical-align: top;}
body{
   overflow-x:hidden;
   background:#e8e8e8;
   box-sizing: border-box;  
}

 /* 400 以下   400  -  480 一档  480 以上的是一档  */
 @media screen and (max-width:399px) {
    html{
        font-size: 15px;
    }
 }
 @media (min-width: 400px) and (max-width: 480px) {
    html{
        font-size: 20px;

    }
 }
 @media screen and (min-width: 481px) {
    html{
        font-size: 25px;    /* 最大档 */
    }
 }
.wrap{ max-width: 720px; min-width: 320px; margin-left: auto; margin-right: auto; 
    /* width:100%; */
}

.row {
  /*横*/
    display: -webkit-box;
    display: -webkit-flex; /* Safari */
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%; 
}
.col {/*列*/
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: block;
  width: 100%; 
}

.col-25 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%; 
}


.col-33, .col-34 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.3333%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 33.3333%;
  -ms-flex: 0 0 33.3333%;
  flex: 0 0 33.3333%;
  max-width: 33.3333%; 
}


.col-50 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%; 
}

@font-face {font-family: 'iconfont';
    src: url('../font/iconfont.eot'); /* IE9*/
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../font/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.ifont{
    font-family:"iconfont" !important;
    display: inline-block;
   }

/*消除transition闪屏*/
.prevent-splash{-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-webkit-backface-visibility: hidden;backface-visibility: hidden;}
/*解决页面闪白，保证动画流畅，开启硬件加速*/
.prevent-flow{-webkit-transform: translate3d(0, 0, 0);-moz-transform: translate3d(0, 0, 0);-ms-transform: translate3d(0, 0, 0);transform: translate3d(0, 0, 0);}